* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #003354, #004f6c, #006c7e, #008a8a);
    display: grid;
    place-items: center;
}

.watch {
    width: 50vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #106565;
}

.hours,
.minutes,
.seconds {
    min-width: 20vw;
    height: 27vh;
    background-color: #262727;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}